In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df =pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_student.csv')

In [9]:
df = pd.read_csv('http://global.espn.com/nba/standings/_/sort/winpercent/dir/desc')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 2

In [4]:
df.head

<bound method NDFrame.head of      學校代碼        學校名稱 日間∕進修別    等級別  一年級男生  一年級女生  二年級男生  二年級女生  三年級男生  三年級女生  \
0       1      國立政治大學    D 日   D 博士     96     85     82     78     93     59
1       1      國立政治大學    D 日   M 碩士    624    742    632    695    348    431
2       1      國立政治大學    D 日   B 學士    899  1,287    890  1,332    878  1,325
3       1      國立政治大學    N 職   M 碩士    303    248    253    259    201    210
4       2      國立清華大學    D 日   D 博士    225     99    201     71    189     73
5       2      國立清華大學    D 日   M 碩士  1,315    719  1,159    639    464    306
6       2      國立清華大學    D 日   B 學士  1,089    865  1,087    936  1,161    994
7       2      國立清華大學    D 日  X 4+X     22     16     19      8      -      -
8       2      國立清華大學    N 職   M 碩士    186    238    165    227     40    125
9       3      國立臺灣大學    D 日   D 博士    408    196    374    168    383    147
10      3      國立臺灣大學    D 日   M 碩士  2,445  1,552  2,343  1,475    930    604
11      3      國立臺灣大學    D 日   B 學士  2,126  1,525  2,110  1,666  2,122  1,673
12      3      國立臺灣大學    N 職   M 碩士    321    238    316    201    152     93
13      4    國立臺灣師範大學    D 日   D 博士    109    116    122    120     99     99
14      4    國立臺灣師範大學    D 日   M 碩士    614    796    548    711    344    516
15      4    國立臺灣師範大學    D 日   B 學士    846  1,066    850  1,063    843  1,078
16      4    國立臺灣師範大學    N 職   M 碩士    196    450    164    399    111    263
17      5      國立成功大學    D 日   D 博士    244    110    216     97    183     79
18      5      國立成功大學    D 日   M 碩士  1,849  1,072  1,766    982    463    294
19      5      國立成功大學    D 日   B 學士  1,672  1,010  1,651  1,041  1,668    996
20      5      國立成功大學    N 職   M 碩士    287    179    271    182    168    108
21      6      國立中興大學    D 日   D 博士    103     52     99     50    104     39
22      6      國立中興大學    D 日   M 碩士    879    564    815    543    240    172
23      6      國立中興大學    D 日   B 學士  1,087    799  1,100    813  1,121    840
24      6      國立中興大學    N 職   M 碩士    346    193    313    173    161     64
25      6      國立中興大學    P 進   B 學士     91    129     70    116     97    117
26      7      國立交通大學    D 日   D 博士    297     90    235     66    208     43
27      7      國立交通大學    D 日   M 碩士  1,450    671  1,352    635    833    342
28      7      國立交通大學    D 日   B 學士    881    417    907    416    893    396
29      7      國立交通大學    N 職   M 碩士    344    206    330    159    159     62
..    ...         ...    ...    ...    ...    ...    ...    ...    ...    ...
782  1192      臺灣觀光學院    N 修   B 四技     13     17      6     12      6     12
783  1192      臺灣觀光學院    N 修   C 二技      -      -      -      -      9     21
784  1192      臺灣觀光學院    N 修   2 二專     10     20      4      4      -      -
785  1195       馬偕醫學院    D 日   M 碩士      5      6      9      7      3     11
786  1195       馬偕醫學院    D 日   B 學士     48    111     40     79     45     77
787  1196      法鼓文理學院    D 日   D 博士      2      1      1      3      -      -
788  1196      法鼓文理學院    D 日   M 碩士     17     43     13     36     15     36
789  1196      法鼓文理學院    D 日   B 學士      4     11      7     10      6      6
790  1282  馬偕醫護管理專科學校    D 日   2 二專     14     13      5      9      -      -
791  1282  馬偕醫護管理專科學校    D 日   5 五專     95    686     96    687     99    692
792  1282  馬偕醫護管理專科學校    N 修   2 二專    111    105     33     47      -      -
793  1283  仁德醫護管理專科學校    D 日   5 五專    238    905    272    974    272    973
794  1283  仁德醫護管理專科學校    N 修   2 二專    138     94     59     50      -      -
795  1284  樹人醫護管理專科學校    D 日   5 五專    339  1,150    324  1,039    316  1,029
796  1284  樹人醫護管理專科學校    N 修   2 二專    145     79    137     77     18     16
797  1285  慈惠醫護管理專科學校    D 日   2 二專     13     23     22     31      -      -
798  1285  慈惠醫護管理專科學校    D 日   5 五專    171    580    168    620    214    807
799  1285  慈惠醫護管理專科學校    N 修   2 二專     57     80     16     56      3      7
800  1286  耕莘健康管理專科學校    D 日   5 五專    100    835    102    918     96    924
801  1286  耕莘健康管理專科學校    N 修   2 二專      1     61      -     43      -      -
802  1287  敏惠醫護管理專科學校    D 日   5 五專     97    706     84    710    101    684
803  1289  育英醫護管理專科學校    D 日   5 五專     41    351     47    374     42    379
804  1290  崇仁醫護管理專科學校    D 日   5 五專     89    550     89    610     81    620
805  1291  聖母醫護管理專科學校    D 日   5 五專     85    358     96    444    154    486
806  1292  新生醫護管理專科學校    D 日   5 五專    136  1,108    157  1,058    162  1,099
807  1292  新生醫護管理專科學校    N 修   2 二專     19     32     15     27      -      -
808  3002      臺北市立大學    D 日   D 博士     14     20     16     14     17     18
809  3002      臺北市立大學    D 日   M 碩士    124    252    112    228     82    134
810  3002      臺北市立大學    D 日   B 學士    566    725    524    682    583    692
811  3002      臺北市立大學    N 職   M 碩士     98    271     87    237     44    119

     ...  五年級男生 五年級女生 六年級男生 六年級女生 七年級男生 七年級女生 延修生男生 延修生女生    縣市名稱   體系別
0    ...     71    52    58    46    74    40     -     -  30 臺北市  1 一般
1    ...      -     -     -     -     -     -     -     -  30 臺北市  1 一般
2    ...      -     -     -     -     -     -   326   463  30 臺北市  1 一般
3    ...     53    47     -     -     -     -     -     -  30 臺北市  1 一般
4    ...    158    50   112    43   168    58     -     -  18 新竹市  1 一般
5    ...      6    13     4    10     -     -     -     -  18 新竹市  1 一般
6    ...      -     -     -     -     -     -   286   166  18 新竹市  1 一般
7    ...      -     -     -     -     -     -     -     -  18 新竹市  1 一般
8    ...     17    46     8    14    16    52     -     -  18 新竹市  1 一般
9    ...    304   123   234   109   352   153     -     -  30 臺北市  1 一般
10   ...      -     -     -     -     -     -     -     -  30 臺北市  1 一般
11   ...    184    98   126    61   102    35   671   537  30 臺北市  1 一般
12   ...     35     7    37    20     -     -     -     -  30 臺北市  1 一般
13   ...     95    82    87    90    70    67     -     -  30 臺北市  3 師範
14   ...      -     -     -     -     -     -     -     -  30 臺北市  3 師範
15   ...      -     -     -     -     -     -   240   271  30 臺北市  3 師範
16   ...     49   104    33    71     -     -     -     -  30 臺北市  3 師範
17   ...    141    69   129    49   140    59     -     -  21 臺南市  1 一般
18   ...      1     5     -     -     -     -     -     -  21 臺南市  1 一般
19   ...     82    68    49    27    53    21   355   149  21 臺南市  1 一般
20   ...     52    14     -     -     -     -     -     -  21 臺南市  1 一般
21   ...     92    27    81    30    95    45     -     -  19 臺中市  1 一般
22   ...      2     3     -     -     -     -     -     -  19 臺中市  1 一般
23   ...     21    45     -     -     -     -   205    93  19 臺中市  1 一般
24   ...     94    35     -     -     -     -     -     -  19 臺中市  1 一般
25   ...     48    49     -     -     -     -    10    10  19 臺中市  1 一般
26   ...    158    39   131    24   177    31     -     -  18 新竹市  1 一般
27   ...      1     1     -     -     -     -     -     -  18 新竹市  1 一般
28   ...      -     -     -     -     -     -   148    60  18 新竹市  1 一般
29   ...     80    36     -     -     -     -     -     -  18 新竹市  1 一般
..   ...    ...   ...   ...   ...   ...   ...   ...   ...     ...   ...
782  ...      -     -     -     -     -     -     1     -  15 花蓮縣  2 技職
783  ...      -     -     -     -     -     -     1     -  15 花蓮縣  2 技職
784  ...      -     -     -     -     -     -     1     -  15 花蓮縣  2 技職
785  ...      -     -     -     -     -     -     -     -  01 新北市  1 一般
786  ...     19    23    33    14    19    22     5     3  01 新北市  1 一般
787  ...      1     3     -     -     -     -     -     -  01 新北市  1 一般
788  ...      -     -     -     -     -     -     -     -  01 新北市  1 一般
789  ...      -     -     -     -     -     -     -     -  01 新北市  1 一般
790  ...      -     -     -     -     -     -     -     1  30 臺北市  2 技職
791  ...     68   658     -     -     -     -    13    64  30 臺北市  2 技職
792  ...      -     -     -     -     -     -     4     2  30 臺北市  2 技職
793  ...    182   807     -     -     -     -   109   210  05 苗栗縣  2 技職
794  ...      -     -     -     -     -     -     5     6  05 苗栗縣  2 技職
795  ...    216   761     -     -     -     -    65   147  12 高雄市  2 技職
796  ...      -     -     -     -     -     -     8     1  12 高雄市  2 技職
797  ...      -     -     -     -     -     -     1     6  13 屏東縣  2 技職
798  ...    197   640     -     -     -     -    64   195  13 屏東縣  2 技職
799  ...      -     -     -     -     -     -    10    19  13 屏東縣  2 技職
800  ...    100   815     -     -     -     -    17   144  01 新北市  2 技職
801  ...      -     -     -     -     -     -     -     1  01 新北市  2 技職
802  ...     72   607     -     -     -     -    33    63  11 臺南市  2 技職
803  ...     32   323     -     -     -     -     3    36  50 高雄市  2 技職
804  ...     70   560     -     -     -     -    15    53  10 嘉義縣  2 技職
805  ...     99   425     -     -     -     -    11    15  02 宜蘭縣  2 技職
806  ...    107   825     -     -     -     -    23   129  03 桃園市  2 技職
807  ...      -     -     -     -     -     -     1     -  03 桃園市  2 技職
808  ...     13    22     9    12    22    38     -     -  30 臺北市  1 一般
809  ...     10    39    12    34     -     -     -     -  30 臺北市  1 一般
810  ...      -     -     -     -     -     -   165   139  30 臺北市  1 一般
811  ...     19    23    14    28     -     -     -     -  30 臺北市  1 一般

[812 rows x 22 columns]>

In [6]:
df[["一年級男生",'一年級女生']]

     一年級男生  一年級女生
0       96     85
1      624    742
2      899  1,287
3      303    248
4      225     99
5    1,315    719
6    1,089    865
7       22     16
8      186    238
9      408    196
10   2,445  1,552
11   2,126  1,525
12     321    238
13     109    116
14     614    796
15     846  1,066
16     196    450
17     244    110
18   1,849  1,072
19   1,672  1,010
20     287    179
21     103     52
22     879    564
23   1,087    799
24     346    193
25      91    129
26     297     90
27   1,450    671
28     881    417
29     344    206
..     ...    ...
782     13     17
783      -      -
784     10     20
785      5      6
786     48    111
787      2      1
788     17     43
789      4     11
790     14     13
791     95    686
792    111    105
793    238    905
794    138     94
795    339  1,150
796    145     79
797     13     23
798    171    580
799     57     80
800    100    835
801      1     61
802     97    706
803     41    351
804     89    550
805     85    358
806    136  1,108
807     19     32
808     14     20
809    124    252
810    566    725
811     98    271

[812 rows x 2 columns]